<%= set_title "Result List" %>

<table border="1">
  <tr>
    <th>姓名</th>
    <th>部门</th>
    <th>职位</th>
    <th>直接主管</th>
    <th>间接主管</th>
    <th>平级同事</th>
    <th>本职工作</th>
    <th>特别贡献</th>
    <th>个人成长</th>
    <th>团队工作</th>
    <th>团队成长</th>
    <!--<th>总分</th>-->
    <!--<th>等级系数</th>-->
    <th>等级系数加权后</th>
    <th>个人总结</th>
    <th>评分报告</th>
  </tr>

  <% @persons.each do |person| %>
      <% next if person.name == '杨宇波' %>
      <% scores = person.scores %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.department_text %></td>
        <td><%= person.title_text %></td>
        <td><%= scores["boss"] %></td>
        <td><%= scores["manager"] %></td>
        <td><%= scores["mate"] %></td>
        <td><%= scores["normal"] %></td>
        <td><%= scores["special"] %></td>
        <td><%= scores["growup"] %></td>
        <td><%= scores["team-normal"] %></td>
        <td><%= scores["team-growup"] %></td>
        <!--<td><%= scores["total"] %></td>-->
        <!--<td><%= person.salary_weight %></td>-->
        <td><%= scores["salary-mixed"] %></td>
        <td><%= link_to '查看', { controller: 'annual_summary', action: 'show', id: person}, target: '_blank' %></td>
        <td><%= link_to '查看', { controller: 'person', action: 'report_to_one', code: person.access_code}, target: '_blank' %></td>
      </tr>
  <% end %>
</table>

<hr>

<%= link_to "导出到Excel", { action: 'export_result_list' }  %>