<%= set_title "#{@person.name}的评分记录" %>
<h1><%= @person.name %>(<%= @person.identity %>)的评分记录</h1>

<h3>汇总:</h3>

<% scores = @person.scores %>
<table border="1">
  <tr>
    <th>姓名</th>
    <th>部门</th>
    <th>直接主管评分</th>
    <th>间接主管评分</th>
    <th>平级同事评分</th>
    <th>总分</th>
    <th>工资系数</th>
    <th>工资系数加权后</th>
  </tr>

  <tr>
    <td><%= @person.name %></td>
    <td><%= @person.department_text %></td>
    <td><%= scores["boss"] %></td>
    <td><%= scores["manager"] %></td>
    <td><%= scores["mate"] %></td>
    <td><%= scores["total"] %></td>
    <td><%= @person.salary_weight %></td>
    <td><%= scores["salary-mixed"] %></td>
  </tr>
</table>

<table border="1">
  <tr>
    <th>姓名</th>
    <th>部门</th>
    <th>本职工作得分</th>
    <th>特别贡献得分</th>
    <th>个人成长得分</th>
    <% if @person.is_manager %>
        <th>团队工作得分</th>
        <th>团队成长得分</th>
    <% end %>
    <th>总分</th>
  </tr>

  <tr>
    <td><%= @person.name %></td>
    <td><%= @person.department_text %></td>
    <td><%= scores["normal"] %></td>
    <td><%= scores["special"] %></td>
    <td><%= scores["growup"] %></td>
    <% if @person.is_manager %>
        <td><%= scores["team-normal"] %></td>
        <td><%= scores["team-growup"] %></td>
    <% end %>
    <td><%= scores["total"] %></td>
  </tr>
</table>

<h3>详情:</h3>

<table border="1">
  <tr>
    <th>打分者身份</th>
    <th>本1/1</th>
    <th>本1/2</th>
    <th>本2/1</th>
    <th>本2/2</th>
    <th>本3/1</th>
    <th>本3/2</th>
    <th>特1/1</th>
    <th>特1/2</th>
    <th>特2/1</th>
    <th>特2/2</th>
    <th>特3/1</th>
    <th>特3/2</th>
    <th>成1</th>
    <th>成2</th>
    <th>本职工作</th>
    <th>特别贡献</th>
    <th>个人成长</th>
    <% unless @person.is_manager %>
        <th>评分者加权/原始总分</th>
    <% end %>
  </tr>

  <% @records.each do |record| %>
      <%
        options = record.answer_options
        values = record.answer_values
        totals = record.calculate
      %>
      <tr>
        <td><%= record.rater_type_text %></td>
        <td><%= values["normal-one-weight"] %>(<%= options["normal-one-weight"] %>)</td>
        <td><%= values["normal-one-point"] %>(<%= options["normal-one-point"] %>)</td>
        <td><%= values["normal-two-weight"] %>(<%= options["normal-two-weight"] %>)</td>
        <td><%= values["normal-two-point"] %>(<%= options["normal-two-point"] %>)</td>
        <td><%= values["normal-three-weight"] %>(<%= options["normal-three-weight"] %>)</td>
        <td><%= values["normal-three-point"] %>(<%= options["normal-three-point"] %>)</td>
        <td><%= values["special-one-weight"] %>(<%= options["special-one-weight"] %>)</td>
        <td><%= values["special-one-point"] %>(<%= options["special-one-point"] %>)</td>
        <td><%= values["special-two-weight"] %>(<%= options["special-two-weight"] %>)</td>
        <td><%= values["special-two-point"] %>(<%= options["special-two-point"] %>)</td>
        <td><%= values["special-three-weight"] %>(<%= options["special-three-weight"] %>)</td>
        <td><%= values["special-three-point"] %>(<%= options["special-three-point"] %>)</td>
        <td><%= values["growup-one-point"] %>(<%= options["growup-one-point"] %>)</td>
        <td><%= values["growup-two-point"] %>(<%= options["growup-two-point"] %>)</td>
        <td><%= totals["normal-total-weight"] %>(<%= totals["normal-total"] %>)</td>
        <td><%= totals["special-total-weight"] %>(<%= totals["special-total"] %>)</td>
        <td><%= totals["growup-total-weight"] %>(<%= totals["growup-total"] %>)</td>
        <% unless @person.is_manager %>
          <td><%= totals["rater-total"] %>(<%= totals["source-total"] %>)</td>
        <% end %>
      </tr>
  <% end %>
</table>

<% if @person.is_manager %>
    <table border="1">
      <tr>
        <th>打分者身份</th>
        <th>团工1/1</th>
        <th>团工1/2</th>
        <th>团工2/1</th>
        <th>团工2/2</th>
        <th>团工3/1</th>
        <th>团工3/2</th>
        <th>团成1</th>
        <th>团成2</th>
        <th>团队工作</th>
        <th>团队成长</th>
        <th>评分者加权/原始总分</th>
      </tr>

      <% @records.each do |record| %>
          <%
            options = record.answer_options
            values = record.answer_values
            totals = record.calculate
          %>
          <tr>
            <td><%= record.rater_type_text %></td>
            <td><%= values["team_normal-one-weight"] %>(<%= options["team_normal-one-weight"] %>)</td>
            <td><%= values["team_normal-one-point"] %>(<%= options["team_normal-one-point"] %>)</td>
            <td><%= values["team_normal-two-weight"] %>(<%= options["team_normal-two-weight"] %>)</td>
            <td><%= values["team_normal-two-point"] %>(<%= options["team_normal-two-point"] %>)</td>
            <td><%= values["team_normal-three-weight"] %>(<%= options["team_normal-three-weight"] %>)</td>
            <td><%= values["team_normal-three-point"] %>(<%= options["team_normal-three-point"] %>)</td>
            <td><%= values["team_growup-one-point"] %>(<%= options["team_growup-one-point"] %>)</td>
            <td><%= values["team_growup-two-point"] %>(<%= options["team_growup-two-point"] %>)</td>
            <td><%= totals["team-normal-total-weight"] %>(<%= totals["team-normal-total"] %>)</td>
            <td><%= totals["team-growup-total-weight"] %>(<%= totals["team-growup-total"] %>)</td>
            <td><%= totals["rater-total"] %>(<%= totals["source-total"] %>)</td>
          </tr>
      <% end %>
    </table>
<% end %>
